<div class="talk-video">
  <iframe scrolling="no" src="<%= @talk.part1 %>" frameborder="0" class="iframe-class" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
</div>
<div class="row">
  <div class="col-sm-9">
    <article class="talk-article">
      <h2>PART 1：關於就讀淡江大學建築系的經驗分享</h2>
      <p class="share">Share Links</p>
      <%=raw @talk.context %>
    </article>
    <p>有問題嗎？</p>
    <button>我要發問！</button>
    <p>還有更多校系經驗問題想詢問嗎？</p>
    <button>Forum 討論區</button>
    <button>IOH 臉書社團：大學科系與升學經驗交流平台</button>
  </div>
  <div class="sidebar col-sm-2">
    講者其它講座...
  </div>

</div>


<div class="row">
  <div></div>
</div>


<div class="row ">
  <p class="sponsor">Thanks Credit&nbsp;&nbsp;&nbsp;&nbsp;感謝高雄 呂媽媽 以此講座鼓勵後輩：「孩子 記得爸爸媽媽永遠愛你噢 放膽去逐夢吧」</p>
  <p>講座製作由 IOH 幫手<%= link_to "", class: 'helper' do %>鄭祐銓<% end %>協助 | 責任編輯：<%= link_to "", class: 'helper' do %>黃玉婷<% end %> | 核稿編輯：<%= link_to "", class: 'helper' do %>林立麗<% end %></p>
  <div class="col-sm-10 col-sm-offset-1">
    <iframe class="question" src="https://www.surveycake.com/s/ky80L" style="overflow:hidden;border:#ddd 1px solid;" allowtransparency="true" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" frameborder="0" width="100%"></iframe>
  </div>
</div>




<div class="about">
  <div class="speaker row">
    <div class="col-sm-3 col-sm-offset-1">
      <%= link_to root_path, id: 'photo' do %>
        <%= image_tag("talker_photo.png") %>
      <% end %>
    </div>
    <div class="col-sm-7 speaker_intro">
      <h3>About Speaker</h3>
      <h4>關於講者｜ <%= @user.name %> <%= @user.english_name %></h4>
      <h4 class="contact">聯絡講者</h4>
      <div class="edu">
        <h5>臺灣大學 創意創業學程創意創業學程, 第六屆</h5>
        <h5>國立臺灣大學, 心理系學士, 2016</h5>
        <h5>臺北市立北一女中, 2011</h5>
      </div>
      <p><%= @user.about.bio %></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="works col-sm-12 col-sm-offset-1">
      <h3>Works</h3>
    </div>
  

    <div class="education col-sm-12 col-sm-offset-1">
      <h3>Education</h3>
      <ul>
        <li>宜蘭縣立復興國民中學 2007 - 2010</li>
        <li>國立蘭陽女子高級中學 2010 - 2013</li>
        <li>國立高雄師範大學 2013 - 2017</li>
      </ul>  
    </div>

    <div class="experience col-sm-10 col-sm-offset-1">
      <h3>Experience</h3>
      <ul>
        <li>中國福建省信通置業不動產股份有限公司-策劃中心實習生  2015 / 07 ~ 2015 / 08  </li>
        <p>於公司內的策劃中心內擔任廣告行銷設計，活動規劃或建築圖設計的助理。也會到預備活動現場進行協助規劃和場佈;行銷面也體驗到中國與台灣的不同，藉由與不同國籍不同文化的同事，開會討論上的交流更能尊重文化差異以及相同語言上的隔閡，並更有效的溝通和完成共同的目標。公司招商程序部份，也在這裡有了初步了解和執行經驗。  </p>
        <li>26's愚人世代 ＿ 心中的想像 - 創辦人  2013 / 09 ~ 2016 / 08  </li>
        <p>藉著拍攝身邊26位朋友的故事經歷，以傳達友情重要性，並到花蓮進行兒童之家課後教育，藉由課程去傳達給下一代付出人與人間的鏈結的關係，和許多朋友人生中的故事。此活動與廣告行銷公司有合作關係，從中結合廣告觀念的實務去執行，並因此有受邀至TEDx進行演講的經驗。  </p>
      </ul>
    </div>

    <div class="skill col-sm-12 col-sm-offset-1">
      <h3>Skill</h3>
      <ul>
        <li>領導能力</li>
        <li>Adobe Illustrator</li>
        <li>Photoshop</li>
      </ul>  
    </div>
  
    <div class="contact_me col-sm-12 col-sm-offset-1">
      <h3>Contact Me</h3>
      <%= link_to root_path, id: 'ig' do %>
        <%= image_tag("Instagram.png") %>
      <% end %>
      <%= link_to root_path, id: 'gp' do %>
        <%= image_tag("Google Plus.png") %>
      <% end %>
      <%= link_to root_path, id: 'fb' do %>
        <%= image_tag("FB.png") %>
      <% end %>
    </div>
  </div>  

</div>
