<header>
  <%= link_to root_path, id: 'ioh_logo' do %>
    <%= image_tag("ioh_logo.png") %>
  <% end %>
<!--   <nav>
    <%= link_to '探索大學校系', '#' %>
    <%= link_to '了解碩博經驗', '#' %>
    <%= link_to '尋找未來職涯', '#' %>
    <%= link_to '參考創業經驗', '#' %>
  </nav> -->
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to '探索大學校系', '#' %></li>
    <li role="presentation"><%= link_to '了解碩博經驗', '#' %></li>
    <li role="presentation"><%= link_to '尋找未來職涯', '#' %></li>
    <li role="presentation"><%= link_to '參考創業經驗', '#' %></li>
  </ul>
</header>
